manifest {
    homePage = 'https://github.com/adigenova/sv_somatic_cns'
    description = 'Somatic structural variant caller'
    mainScript = 'main.nf'
    author = 'Alex Di Genova'
    version = '1.0'
    name = 'sv_somatic_cns'
}


// Load job.conf for process tagging
includeConfig 'conf/jobs.conf'

// Load genomes.config list the available genome reference
//todo: define the list of available here.
//includeConfig 'conf/genomes.conf'


profiles {
  docker {
	docker.enabled = true
	process.container = 'adigenova/sv_somatic_cns:v1.0'
	}
  singularity {
	singularity.enabled = true
	process.container = 'shub://adigenova/sv_somatic_cns:v1.0'
	pullTimeout = "200 min"
	}
}


//additionals files for visualization of arriba results
params {

// Fusion tools
delly = false
manta = false
svaba = false

}


params.output_folder="results"

// nextflow run information
timeline {
  enabled = true
  file = "${params.output_folder}/${manifest.name}_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/${manifest.name}_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/${manifest.name}_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/${manifest.name}_dag.html"
}

//Mesage regarding errors or complete
workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}


workflow.onError = {
   println "Oops... Pipeline execution stopped with the following message: ${workflow.errorMessage}"
}
